[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pzfx"]
	path = pzfx
	url = https://github.com/yue-jiang/pzfx
	shallow = true
	registered = true
